<% if @web_service_test.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			The form contains <%= pluralize(@web_service_test.errors.count, "error") %>
		</div>
		<ul style="list-style-type:circle;">
			<% @web_service_test.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<% if !@connection_error.nil? %>
        <div class="alert alert-error">
            Remote connection failed:&nbsp;&nbsp;<%= @connection_error.to_s %>
        </div>
<% end %>
<% if !@soft_connection_error.nil? %>
    <div class="alert alert-warning">
        Connected, but status not OK:&nbsp;&nbsp;<%= @soft_connection_error %>
    </div>
<% end %>
